/**
 * ********** Base **********
 */

html, body {
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(45, 49, 57);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.45em;
    background-color: rgb(244, 244, 244);
    background-color: rgb(255, 255, 255);
}


/** Grid **/

.row, .column {
    box-sizing: border-box;
    -ms-word-break: normal;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: normal;
    /* Non standard for webkit */
    word-break: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.column {
    position: relative;
    float: left;
    background-color: rgb(244, 244, 244);
}

.column .header {
    background-color: rgb(45, 49, 57);
    width: 100%;
}

.column .header h2 {
    margin: 5%;
    color: white;
}

.column p {
    margin: 5%;
}

.column button {
    margin: 5%;
    padding: 0;
    width: 90%;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.spacer {
    border-bottom: 2px solid white;
    width: 90%;
    margin: 0% 5% 0% 5%;
}

.column img {
    width: 90%;
    padding: 5%;
    margin: 0 auto;
}

.column-4 {
    width: 30%;
    margin: 5px;
}

/* old statistics:
.statistics {
    background-color: white;
}
.statistics p {
    margin: 0;
}
*/

@media only screen and (max-width: 1000px) {
    .column-4 {
        width: 45%;
        margin: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .column-4 {
        width: 45%;
        margin: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .column-4 {
        width: 90%;
        margin: 5px;
    }
}

@media only screen and (max-width: 850px) {
    html, body {
        font-size: 15px;
    }
}


/** Site Container: Used for center align and fauxing equal height of colums */

#site-container {
    position: relative;
    max-width: 1100px;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

#site-container::before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    width: 300px;
    background-color: rgb(244, 244, 244);
    content: '';
}

@media only screen and (max-width: 850px) {
    #site-container::before {
        display: none;
    }
}

.only-mobile {
    display: none;
}

@media screen and (max-width: 850px) {
    .only-mobile {
        display: inline-block;
    }
    .faq-link.only-mobile {
        margin-top: 8px;
        margin-left: 15px;
    }
}

.row {
    position: relative;
}

.col-2 {
    float: left;
    width: 50%;
}

p {
    font-size: 1em;
    line-height: 1.85em;
}

/*main ul, main ol {
    margin: 1em 0;
    padding: 0;
    font-size: 0.875em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.75em;
}

main ul {
    list-style: outside disc none;
}

main li {
    margin-left: 2em;
    padding-left: 0.5em;
}*/

a, a:link, a:visited {
    color: rgb(73, 175, 192);
    text-decoration: underline;
}

a:focus, a:hover, a:active {
    color: rgb(0, 116, 136);
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 49, 57, 0.7);
}

.modal .message {
    width: 85%;
    max-width: 500px;
    height: auto;
    margin: 100px auto 0 auto;
    background: rgb(244, 244, 244);
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(45, 49, 57);
    padding: 20px;
    max-height: 75vh;
}



button {
    margin-top: 30px;
}


/**
 * ********** Forms **********
 */

form {
    text-align: left;
}

legend {
    display: none;
}

fieldset {
    margin: 0 auto;
    padding: 0;
    border: none;
}

.limited {
    width: 350px;
}

label {
    padding: 20px 0px 5px 0px;
    text-align: left;
}

input {
    /*width: 96%;
    min-width: 120px;
    height: 30px;*/
    padding: 2%;
    border-radius: 3px;
    font-size: 0.875em;
}

button, input[type="submit"] {
    -webkit-appearance: none;
    width: 120px;
    height: 40px;
    /*padding: 12px;*/
    background-color: rgb(0, 116, 136);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 0.875em;
}

button:hover, input[type="submit"]:hover {
    background-color: rgb(73, 175, 192);
}

input[type="submit"] {
    -webkit-appearance: none;
    margin-top: 20px;
    float: right;
}

input[type="text"], input[type="password"] {
    /**width: 270px;**/
    border: 1px solid rgb(45, 49, 57);
    padding: 10px;
    height: inherit;
}

input[type="text"]:focus,input[type="password"]:focus {
    /* border: 1px solid rgb(0, 116, 136); */
    border: 1px solid rgb(73, 175, 192);
}

@media only screen and (max-width: 850px) {
    button, input[type="submit"] {
        -webkit-appearance: none;
        /**width: 95px;**/
    }
    .limited {
        width: 280px;
    }
    input[type="text"], input[type="password"] {
        /**width: 200px;**/
    }
}

::-webkit-input-placeholder {
    color: rgb(180, 180, 180);
    font-style: italic;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(180, 180, 180);
    font-style: italic;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(180, 180, 180);
    font-style: italic;
}

:-ms-input-placeholder {
    color: rgb(180, 180, 180);
    font-style: italic;
}

[disabled], [disabled="disabled"], input[disabled], input[disabled="disabled"] {
    background-color: rgb(240, 240, 240);
    cursor: default;
    color: rgb(127, 127, 127);
}

[disabled]:hover, [disabled="disabled"]:hover input[disabled]:hover, input[disabled="disabled"]:hover {
    background-color: rgb(240, 240, 240);
}

.switch p, .switch button {
    vertical-align: middle;
    display: inline-block;
}

.switch p {
    /**width: 200px;**/
}

#string8to64needed, #passwordsDontMatch {
    margin-bottom: -12px;
}

#passwordsDontMatch {
    display: none;
}

@media only screen and (max-width: 850px) {
    /**.switch p {
        width: 150px;
    }**/
}


/* Password indicator */

.meter-container {
    color:#666666;
    width: 350px;
    margin-top: 5px;
    margin-bottom: -8px;
    font-size: 12px;
}

.meter-display {
    position: relative;
    display: inline-block;
    background-color: #aaaaaa;
    width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    height: 3px;
    vertical-align: middle;
}

.meter-indicator  {
    display: none;
    position: absolute;
    left:0;
    top: 0;
    height: 3px;
}

.meter-indicator1 {
    width: 17px;
    background-color: #f45b41;
}

.meter-indicator2 {
    width: 34px;
    background-color: #f4b241;
}

.meter-indicator3 {
    width: 51px;
    background-color: #f4df41;
}

.meter-indicator4 {
    width: 70px;
    background-color: #e2fa41;
}

.meter-indicator5 {
    width: 90px;
    background-color: #70f441;
}

[name="meter-value1"] .meter-indicator1, [name="meter-value2"] .meter-indicator2, [name="meter-value3"] .meter-indicator3, [name="meter-value4"] .meter-indicator4, [name="meter-value5"] .meter-indicator5 {
    display: inline-block !important;
}

input[name="oldpassword"] + span + div {
    display: none;
}

input[name="password2"] + span + div {
    display: none;
}

button .disabled {
    opacity: .3;
    pointer-events: none;
}

/**
 * ********** HTML5BP Snippets **********
 */


/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}


/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden], template {
    display: none;
}


/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * ********** Header **********
 */

#site-header {
    position: relative;
    width: 300px;
    float: left;
}

#site-header h1 {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25em;
}

#site-header h1 a {
    display: block;
    width: 100%;
    height: 95px;
    margin: 0;
    padding-top: 35px;
    background-color: rgb(0, 116, 136);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

#site-header p {
    position: absolute;
    top: 60px;
    width: 100%;
    color: rgb(140, 200, 200);
    font-size: 0.825em;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    #site-header {
        float: none;
        width: 100%;
        min-height: 45px;
        background-color: rgb(244, 244, 244);
    }
    #site-header h1 {
        float: left;
        width: 30%;
        margin: 0;
        font-size: 1em;
    }
    #site-header h1 a {
        height: 35px;
        padding-top: 10px;
    }
    #site-header p {
        display: none;
    }
}


/**
 * ********** Navigation **********
 */

header .btn-menu {
    background-color: transparent;
    color: rgb(45, 49, 57);
}

header .btn-menu::after {
    vertical-align: middle;
    display: inline-block;
    width: 14px;
    height: 1px;
    margin: -10px 0 0 10px;
    background-color: rgba(45, 49, 57, 0.7);
    box-shadow: 0 4px 0 0 rgb(45, 49, 57), 0 8px 0 0 rgb(45, 49, 57);
    content: '';
}

.btn-menu.is-open::after {
    background-color: transparent;
    box-shadow: 0 4px 0 0 rgb(45, 49, 57), 0 4px 0 0 rgb(45, 49, 57);
}

.status-link, .status-link:link, .status-link:visited {
    float: left;
    padding: 10px 10px;
    font-size: 0.9em;
    color: rgb(73, 175, 192);
    height: 20px;
}

.status-link:focus, .status-link:hover, .status-link:active {
    color: rgb(0, 116, 136);
}


header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav a, header nav a:link, header nav a:visited {
    display: block;
    width: 250px;
    padding: 17px 0 17px 50px;
    font-size: 1.1em;
    color: rgb(160, 160, 160);
    text-decoration: none;
}

header nav a:focus, header nav a:hover, header nav a:active, header nav a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 49, 57);
}

@media only screen and (max-width: 850px) {
    header .btn-menu {
        float: right;
        width: 90px;
        padding-left: 0px;
        padding-right: 8px;
    }
    header nav {
        clear: both;
        display: none;
        width: 100%;
        font-size: 0.85em;
    }
    header nav li {
        float: left;
        display: block;
        width: 50%;
    }
    header nav a, header nav a:link, header nav a:visited {
        width: auto;
        height: 50px;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-bottom: none;
        color: rgb(0, 0, 0);
        line-height: 50px;
    }
    header nav a:focus, header nav a:hover, header nav a:active, header nav a.active {
        background-color: transparent;
    }
}

/* ICONS */

.icon::before {
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: '';
    background-color: transparent;
    background-image: url('../img/icon-sprite-v2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
}

@media only screen and (max-width: 850px) {
    header nav .icon::before {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
}


.i-good::before {
    background-position: 0 -220px;
}

.i-bad::before {
    background-position: 0 -275px;
}

.i-ugly::before {
    background-position: -55px -220px;
}

.i-device::before {
    background-position: -51px -550px;
}

.i-device:hover::before, .i-device.active::before {
    background-position: -5px -550px;
}

.i-statistic::before {
    margin-right: 25px;
    background-position: -55px -165px;;
}

.i-statistic:hover::before, .i-statistic.active::before {
    background-position: 0 -165px;
}

.i-konfig::before {
    background-position: -51px -500px;
}

.i-konfig:hover::before, .i-konfig.active::before {
    background-position: -5px -500px;
}

.i-hilfe::before {
    background-position: -51px -600px;
}

.i-hilfe:hover::before, .i-hilfe.active::before {
    background-position: -5px -600px;
}

.i-device::before, .i-konfig::before, .i-hilfe::before {
    margin: 0 20px 0 5px;
}

.i-faq::before {
    background-position: -15px -347px;
}

.i-faq:hover::before {
    background-position: -15px -457px;
}

.i-more::before {
    background-position: -15px -347px;
}

.i-more:hover::before {
    background-position: -15px -457px;
}

.i-logout::before {
    width: 20px;
    background-position: -70px -347px;
}

.i-logout:hover::before {
    background-position: -70px -457px;
}

.i-user::before {
    width: 10px;
    background-position: -104px -347px;
}

.i-user:hover::before {
    width: 10px;
    background-position: -104px -457px;
}

.i-update-l::before {
    width: 30px;
    height: 30px;
    background: url('../img/loading_spinner-s.gif') 0px 0px/30px 30px no-repeat;
    /*background-position: -140px -457px;*/
    padding-right: 5px;
    float: left;
}

.i-update::before {
    width: 20px;
    height: 20px;
    background: url('../img/loading_spinner-s.gif') 0px 0px/20px 20px no-repeat;
    padding-right: 5px;
    float: left;
}

.i-setup-successful::before {
    background-position: -120px -392px;
    float: left;
    padding-right: 5px;
    position: absolute;
}

.i-setup-failed::before {
    background-position: -180px -392px;
    float: left;
    padding-right: 5px;
    position: absolute;
}

.i-info::before {
    background-position: -69px -288px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.i-eye-open::before{
    background-position: -160px -330px;
    height: 13px;
    width: 30px;
}

.i-eye-closed::before{
    background-position: -160px -353px;
    height: 15px;
    width: 30px;
}

.i-gefiltert::before{
    background-position: -175px -680px;
    width: 65px;
    height: 75px;
    margin-left: 25px;
}

.i-blockiert::before{
    background-position: -175px -595px;
    width: 65px;
    height: 75px;
    margin-left: 27px;
}

.i-error::before {
    padding-right: 17px;
    width: 6px;
    height: 20px;
    /* margin-left: -10px; */
    background-size: 96px;
    background-position: -23px -149px;
}


@media only screen and (max-width: 850px) {

    .i-error::before {
        padding-right: 5px;
        width: 15px;
        height: 18px;
        /* margin-left: -10px; */
        background-size: 84px;
        background-position: -20px -131px;
    }

    .i-device::before {
        background-position: -195px -30px;
    }
    .i-device:hover::before, .i-device.active::before {
        background-position: -170px -30px;
    }
     .i-statistic::before {
        margin-right: 11px;
        background-position: -148px -88px;
    }
    .i-statistic:hover::before, .i-statistic.active::before {
        background-position: -120px -88px;
    }
    .i-konfig::before {
        background-position: -195px -5px;
    }
    .i-konfig:hover::before, .i-konfig.active::before {
        background-position: -170px -5px;
    }
    .i-hilfe::before {
        background-position: -195px -55px;
    }
    .i-hilfe:hover::before, .i-hilfe.active::before {
        background-position: -170px -55px;
    }
    .i-device::before, .i-konfig::before, .i-hilfe::before {
        width: 10px;
        height: 10px;
        margin: 0 10px 0 5px;
    }

    .i-user:hover::before {
        width: 25px;
        background-position: -104px -457px;
}

    .i-user:focus, .i-user:hover, .i-user:active, .i-user.active, .i-logout:focus, .i-logout:hover, .i-logout:active {
        color: rgb(0, 116, 136);
    }
    .i-user::before, nav .i-logout::before {
        width: 35px;
        margin: 0 10px 0 5px;
    }

    .i-update::before {
        width: 15px;
        height: 18px;
        background: url(../img/loading_spinner-s.gif) 1px 1px/15px 15px no-repeat;
        padding-right: 5px;
        float: none;
    }
}


/**
 * ********** Main **********
 */

main {
    width: auto;
    max-width: 800px;
    margin-left: 300px;
    padding: 50px 50px 50px 50px;
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 990px) {
    main {
        padding: 50px;
    }
}

@media only screen and (max-width: 850px) {
    main {
        margin: 0 auto;
        padding: 50px 20px;
    }
}


/**
 * CHANGED ********** Sub-Navigation **********
 */

#top-bar{
    height: 85px;
    padding: 30px 50px 15px 50px;
    overflow:hidden;
}

.breadcrumb{
    height: 20px;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 30px;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 25px;
}


#top-bar nav {
    float: right;
}

#top-bar nav ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-style: normal;
}

#top-bar nav ul li {
    display: inline;
    margin: 0 0 0 7px;
    padding: 0 0 0 7px;
    border-left: 1px solid rgb(228, 228, 228);
}

@media only screen and (max-width: 850px) {
    #top-bar{
        height: 40px;
        padding: 0px;
        padding-left: 20px;
    }

    #top-bar nav {
        display: none;
    }

    #top-bar a{
       /* position: absolute;
        margin-left: 10px;
        left: 30%;
        top: 9px;
        font-size: 0.875em;*/
    }

    #changes-container {
        position: absolute;
        margin-left: 10px;
        left: 29.5%;
        top: 0px;
        font-size: 12px;
        float: none;
    }

    #error-container {
        position: absolute;
        margin-left: 10px !important;
        left: 29.5%;
        top: 23px;
        font-size: 12px;
    }

    #top-bar div.breadcrumb a {
        display: inline;
    }

    .breadcrumb{
        margin-top: -8px;
        padding-bottom: 5px;
        margin-right: 20px;
    }

}

#top-bar nav ul li:first-child {
    border-left: none;
}

#top-bar nav .icon::before {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#top-bar a, #top-bar a:link, #top-bar a:visited {
    color: rgb(73, 175, 192);
    text-decoration: underline;
}

#top-bar a:focus, #top-bar a:hover, #top-bar a:active {
    color: rgb(0, 116, 136);
}





/**
 * ********** Information **********
 */

main aside {
    float: right;
    overflow: hidden;
    width: 20px;
    height: 80px;
    margin: 30px 0 0;
    padding: 0 40px;
    background-color: rgb(244, 244, 244);
}

main aside h2 {
    cursor: pointer;
}

main aside h2 a, main aside h2 a:link, main aside h2 a:visited {
    visibility: hidden;
    color: rgb(45, 49, 57);
    text-decoration: none;
}

.col-2-main {
    width: 85%;
}

.col-2-main.is-expanded {
    width: 40%;
}

.col-2-info {
    width: 15%;
}

.col-2-info.is-expanded {
    width: 60%;
}

.is-expanded aside {
    width: 300px;
    height: auto;
}

.is-expanded aside h2 a, .is-expanded aside h2 a:link {
    visibility: visible;
}

.i-information::before {
    width: 45px;
    height: 30px;
    margin: -5px 0 0 -2px;
    background-position: -70px -290px;
}

@media only screen and (max-width: 990px) {
    main .col-2-main, main .col-2-info {
        float: none;
        width: 100%;
    }
    .col-2-main.is-expanded, .col-2-info.is-expanded {
        width: 100%;
    }
    main aside, .is-expanded aside {
        float: none;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    main aside h2 .i-arrow::after {
        vertical-align: top;
        float: right;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    main aside h2 .i-arrow.is-flipped::after {
        vertical-align: top;
        float: right;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin: center;
    }
    main aside h2 a, main aside h2 a:link, main aside h2 a:visited {
        visibility: visible;
        color: rgb(45, 49, 57);
        text-decoration: none;
    }
}

main aside p {
    font-size: 0.875em;
}

main aside .info-out {
    display: block;
    margin: 1.5em 0;
    padding: 0;
    color: rgb(45, 49, 57);
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
}

.i-arrow::after {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent url('../img/icon-sprite-v2.png') no-repeat scroll;
    content: ' \203A';
    content: '';
}

@media only screen and (min-width: 990px) {
    main aside h2 .i-arrow::after {
        background: none;
    }
}

#changes-container {
    display: none;
    margin-right: 28px;
}

#changes-text-singular {
    display: none;
}

#error-container {
    visibility: hidden;
}


/**
 * ********** Article **********
 */

article {
    float: left;
    position: relative;
    width: 100%;
}

article header h1, article header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}

article header h1 {
    margin: 0 0 0.25em 0;
}

article header p {
    margin: 0.25em 0 0 0;
    font-size: 1.125em;
}

article h2 {
    margin-top: 1.75em;
    font-size: 1.125em;
    font-weight: normal;
    text-align: left;
}

article p {
    max-width: 37.5em;
    margin: 1.5em 0;
    font-size: 1em;
    text-align: left;
}

article p strong {
    font-style: italic;
    font-weight: bold;
}

@media only screen and (max-width: 850px) {
    article header h1, article header p {
        line-height: 1.25em;
    }
    article p {
        /* max-width: 100%; */
        max-width: 300px;
    }
}

.i-on::before {
    margin-left: -10px;
    background-position: 0 -385px;
}

.i-off::before {
    margin-left: -10px;
    background-position: -55px -385px;
}

.legend {
    margin-bottom: 40px;
}

.legend-blocked-domains {
    float: left;
    width: 60px;
    height: 0px;
    margin-top: 15px;
    margin-right: 10px;
    border: 5px solid #d70206;


}
.legend-filtered-content {
    float: left;
    width: 60px;
    height: 0px;
    margin-top: 15px;
    margin-right: 10px;
    border: 5px solid #f4c63d;
}

.hidden {
    display: none;
}

/*TODO: proper styling*/
.form-input-error {
    background-color: #FDF1F1;
    border: 2px solid red !important;
}


/** Chartist Styling **/
/*.ct-chart {
    background-color: #f4f4f4;
}

.ct-chart .ct-bar {
    stroke-width: 60px;
}

.ct-pies {
    width: 650px;
    height: 300px;
    margin-bottom: 40px;
}

.ct-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 20px;
}

.ct-pie1, .ct-pie1-label {
    width: 300px;
    float: left;
    text-align: center;
}

.ct-pie2, .ct-pie2-label {
    width: 300px;
    float: right;
    text-align: center;
}

.ct-series-b .ct-bar {
    stroke: #f4c63d
}

.ct-pie1-label-mobile {
        display: none;
    }

.small {
    font-size: 70%;
}

.lists {
    width: 650px;
    height: 300px;
}

.js-filtered-sites {
    width: 300px;
    float: left;
}

.js-blocked-sites {
    width: 300px;
    float: left;
}


@media only screen and (max-width: 650px) {
    .ct-chart .ct-bar {
        stroke-width: 30px;
    }

    .ct-pie1-label-mobile {
        display: block;
        text-align: center;
    }

    .ct-pie1-label {
        display: none;
    }

    .ct-pies {
        width: auto;
        height: 650px;
    }

    .ct-pie1, .ct-pie1-label-mobile {
        float: none;
        width: auto;
    }

    .ct-pie1-label {
        margin-bottom: 10px;
    }

    .ct-pie2, .ct-pie2-label {
        float: none;
        width: auto;
    }

    .js-filtered-sites {
        float: none;
    }

    .js-blocked-sites {
        float: none;
    }
}*/

.error-message {

    color:#a94442;
    background-color: #f2dede;
    padding: 2%;
    border-left: 3px solid red;
    clear: both;

}

.success-message {
    color:#307800;
    background-color: #ddeed1;
    padding: 2%;
    border-left: 3px solid #307800;
    clear: both;
}

ul.all-done .success-message:last-child{
    color:#307800 !important;
    background-color: #ddeed1 !important;;
    border-left: 3px solid #307800 !important;
}

.success-message:last-child {
    color:#232323;
    background-color: #dfdfdf;
    border-left: 3px solid #232323;
}

.warning-message {
    color:#d06200;
    background-color: #f1dbc1;
    padding: 2%;
    border-left: 3px solid #d06200;
    clear: both;
}

.modal .error-message, .warning-message, .success-message, .pending-message {
    margin: 2%;
}

.modal li {
    list-style: none;
}

.modal ul {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 60vh;
}

.modal #generalErrorText {
    display: none;
}

.ct-label {
    font-size: 1em;
}

.ct-series-a .ct-line {
  stroke: #fa2200;
  stroke-width: 3px;
}

.ct-series-b .ct-line {

  stroke: #fa2200;
  stroke-width: 3px;
  stroke-dasharray: 7px 7px;

}


.loading {
    height: 350px;
    width: 100%;
    background: url('../img/loading_132.gif') no-repeat center;
}

/* -------------------------------- ADDED CSS ------------------------------------- */

/* Statistic page styles */

.loading {
    -webkit-transition: opacity .46s;
    transition: opacity .46s;
}
.loading.update-weeks-statistik {
    background-color: white;
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 10;
    width: 100%;
    min-height:200px;
    height:100%;
    background-position: center 25px;
}

.statistics-content {
    opacity: 0;
    -webkit-transition: opacity 1.24s;
    transition: opacity 1.29s;
    transition: opacity 1.29s;
}

.statistics-content .container-weekdetails {
    float: left;
    margin-right: 20px;
}

.statistics-content .totalstat {
    text-align: center;
}

.statistics-content .totalstat-numb {
    font-size: 1.9em;
    font-weight: 600;
}

.statistics-content .gefiltert {
    color: rgb(0, 116, 136);
}

.statistics-content .blockiert {
    color: rgb(73, 175, 192);
}

.statistics-content .totalstat-div {
    float: left;
    margin-right: 20px;
}

.statistics-content .clear {
    clear: both;
}

.statistics-content .statistic-plot-heading {
    margin-top: 210px;
    margin-bottom: -33px;
}

.statistics-content #calendar-week-short-text {
    display: none;
}

.statistics-content .js-plotly-plot .plotly svg a.activeWeekLink {
    fill: #000 !important;
    text-decoration: none !important;
    pointer-events: none !important;
}

.statistics-content .js-plotly-plot .plotly svg a.activeWeekLink:hover {
    fill: #000 !important;
    text-decoration: none !important;
    pointer-events: none !important;
}

.statistics-content .js-plotly-plot .plotly svg a.activeWeekLink:active {
    fill: #000 !important;
    text-decoration: none !important;
    pointer-events: none !important;
}

.statistics-content .js-plotly-plot .plotly svg a.activeWeekLink:visited {
    fill: #000 !important;
    text-decoration: none !important;
    pointer-events: none !important;
}

.statistics-content .js-plotly-plot .plotly .xtick text {
    fill: #899 !important;
}

.statistics-content svg text {
    font-weight:bold;
}
.statistics-content .xtick tspan {
    display: inline;
}
.statistics-content .js-plotly-plot {
    display: inline-block;
    max-width: 605px;
}
.statistics-content .legend-inner {
    display: inline-block;
    text-align: left;
}
.statistics-content .y-axis-desc {
    margin-left: 2px;
    margin-bottom:9px;
    font-size: 12px;
    font-weight: bold;
}
.statistics-content .x-axis-desc {
    padding-left: 9px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -45px;
    font-weight: bold;
}
.statistics-content .legend {
    display: block;
    text-align: right;
    /*margin-right: 15px;*/
    margin-top: 15px;
    /* margin-left: 5px; */
    margin-bottom: -28px;
}
.statistics-content .legend-filtered-content, .legend-blocked-domains {
    max-width: 0;
    float: none;
    display: inline-block;
}
.statistics-content .legend-filtered-content {
    border: 5px solid #8CC8C8;
}
.statistics-content .legend-blocked-domains {
    border: 5px solid #007589;
}
.statistics-content .lists {
    width: auto !important;
    display: block;
    position: relative;
}
.statistics-content .lists-headline {
    /* margin-left: 4px; */
    margin-top: -8px;
    margin-bottom: -4px !important;
    font-size: 18px;
}
.statistics-content .overall-count {
    width: 280px;
    font-size: 14px;
    margin-bottom: -12px;
    margin-top: 20px;
}
.statistics-content #total-blocked {
    font-weight: bold;

}
.statistics-content #total-filtered {
    font-weight: bold;

}
.statistics-content .statistics  li {
    padding-left: 0;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    margin-left: 0;
}
.statistics-content .statistics  ol {
    padding-left: 0;
}
.statistics-content .js-blocked-sites {
    display: inline-block;
    margin-right: 19%;
    vertical-align: top;
}
.statistics-content .js-filtered-sites {
    display: inline-block;
    vertical-align: top;
}
.statistics-content .lists p {
    font-weight: bold;
    margin-bottom: 10px;
}
.statistics-content .hoverlayer text{
    fill: #fff !important;
}
.statistics-content .hoverlayer path{
    /*fill: #888 !important;*/
    stroke: rgba(241,243,254,.95) !important;
    stroke-width: 2 !important;
}
.statistics-content .drag {
    display: none;
}
.statistics-content .drag.nsewdrag {
    display: block;
}
.statistics-content .js-plotly-plot .plotly svg a {
    fill: rgb(73, 175, 192) !important;
    text-decoration: underline !important;
}
.statistics-content .js-plotly-plot .plotly svg a:active {
    fill: rgb(73, 175, 192) !important;
    text-decoration: underline !important;
}
.statistics-content .js-plotly-plot .plotly svg a:hover {
    fill: rgb(73, 175, 192) !important;
    text-decoration: underline !important;
}
.statistics-content .js-plotly-plot .plotly svg a:visited {
    fill: rgb(73, 175, 192) !important;
    text-decoration: underline !important;
}
.statistics-content .js-plotly-plot .plotly svg a.active {
    fill: #000000 !important;
    text-decoration: none !important;
    pointer-events: none !important;
}
.statistics-content #stats {
    width: 83% !important;
    height: 380px;
}
.statistics-content .weeks-short-text {
    display: none;
}
@media only screen and (max-width: 1080px) {
    .statistics-content #stats {
        width: 91% !important;
    }
    .statistics-content .weeks-short-text {
        display: inline;
    }
    .statistics-content .weeks-full-text {
        display: none;
    }
}
@media only screen and (max-width: 850px) {
    .statistics-content #stats {
        width: 93% !important;
        max-width: 760px;
    }
    .statistics-content .legend {
        /* margin-right: 15px; */
        margin-top: 14px;
    }
    .statistics-content .lists-headline {
        margin-top: 3px;
    }
}
@media only screen and (max-width: 550px) {
    .statistics-content #stats {
        width: 88% !important;
    }
    .statistics-content .xtick tspan {
        display: none;
    }
    .statistics-content .lists-headline {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 430px) {
    .statistics-content .annotation-text {
        font-size: 10px !important;
    }
    .statistics-content .legend {
        display: block;
        text-align: left;
        margin-right: 0;
        /* margin-top: 15px;*/
        margin-top: 38px;
        margin-left: 3px;
        /*margin-bottom: 12px; */
        margin-bottom: 15px;
    }
    .statistics-content .legend br {
        display: none;
    }
    .statistics-content .legend-filtered-content {
        margin-left: 34px;
    }
    .statistics-content .lists-headline {
        margin-top: 1px;
    }
    .statistics-content .overall-count {
        margin-top: 15px;
    }
    .statistics-content .statistic-plot-heading {
        margin-top: 211px;
    }
}


/*Js Menu style*/
.js-menu{
    margin: 0px;
}

/* Device overview table Styles */
.device-sync {
    width: 100%;
    text-align: center;
    display: block;
}

.device-sync img {
    height: 37px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.device-sync-invisible-element {
    display: none;
}

.divTable{
	display: table;
	width: 100%;
    margin-top: 30px;
    margin-right: 50px;
}
.divTableRow {
	display: table-row;
}

.divTableRow:nth-child(even) {
    background: #f3f3f3;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border-bottom: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
}

.divTableCell:first-child{
    text-align: left;
}

.divTableHead {
    padding-bottom: 20px;
    text-align: center;
    min-width: 55px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 0;
  font-size: 1em;
  width: 100%
}


input[type="checkbox"]{
    width: auto;
    min-width: 0px;
    height: auto;
}

input[type="radio"]{
    width: auto;
    min-width: 0px;
    height: auto;
}


.divTable input[type="radio"]{
    height: 30px;
}


.divTable p{
    margin: 10px 0 10px 0;
    line-height: 1.25em;
}

.divTable label{
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin-left: -10px;
}

.divTableRow[data-changing="True"] {
    pointer-events: none;
}

.divTableRow[data-changing="True"] a {
    opacity: .6;
    color: #c9c9c9 !important;
}

.divTableRow[data-changing="True"] a::before {
    /*opacity: .48;*/
    opacity: .36;
}

.divTableRow[data-changing="True"] input {
    opacity: .25;
}

@media only screen and (min-width: 480px) {
    article input[type="text"], input[type="password"] {
        width: 350px;
    }
}

@media only screen and (max-width: 480px) {
    article input[type="text"], input[type="password"] {
        width: 66%;
    }
}
/* Tabellen Icons */

.i-status::before {
    background-color: transparent;
    background-image: url(../img/loading_132_small.gif) !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 21px;
    height: 32px;
    width: 27px;
    margin-left: -2px;
    opacity: .38;
}

.i-notconnected {
    color: #c9c9c9
}


.i-connected::before {
    width: 20px;
    height: 15px;
    background-position: -132px -351px;
    float: left;
    margin: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.i-notconnected::before {
    width: 20px;
    height: 15px;
    background-position: -132px -326px;
    float: left;
    margin: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.i-ninja::before {
    background-position: -0px -57px;
    width: 56px;
    margin-left: -7px;
}

.i-silent::before {
    background-position: -7px 0;
    width: 41px;
    margin-top: 5px;
}

.i-keinmodus::before{
    background-position: -110px -550px;
    width: 51px;
    margin-right: -12px;
}

@media only screen and (max-width: 480px) {

    .divTableHead{
        padding: 0px;
        padding-bottom: 20px;
    }

}

/* INFO BAR */

#info-bar{
    margin-left: 350px;
    margin-right: 50px;
    border-top: 1px solid #cacaca;
    /*background: red;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
}


/* Info Table */

.divInfoTable{
	display: table;
	width: 100%;
}
.divInfoTableRow {
	display: table-row;
}
.divInfoTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divInfoTableCell, .divInfoTableHead {
	/*border: 1px solid #999999;*/
	display: table-cell;
	padding: 3px 10px;
}
.divInfoTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divInfoTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divInfoTableBody {
	display: table-row-group;
}

.infohead{
    font-weight: 600;
    margin-top: 25px;
}

.infotext{
    line-height: 1.25em;
    max-width: 37.5em;
}

a.infotext{
   display: block;
}

.i-Bninja::before {
    background-position: -13px -710px;
    margin-right: 7px;
}

.i-Bsilent::before {
    background-position: -80px -650px;
    width: 50px;
    margin-right: 5px;
}

.i-Bkeinmodus::before{
    background-position: -10px -650px;
    width: 50px;
    margin-right: 7px;
}

@media only screen and (max-width: 850px) {
    #info-bar{
    margin-left: 20px;
    margin-right: 20px;
    }
}


@media only screen and (max-width: 650px) {
    *.divInfoTableCell{
        width: 100%;
        display: inherit;
    }
}

.setup-text{
    padding-left: 55px;
    min-height: 50px;
}

@-moz-document url-prefix() {
    .setup-text{
    height: 70px;
    }
}

.multiple-inputs{
    margin-right: 20px;
}


/* MODAL WINDOWS*/

.modalRow{
	display: table-row;
}

.modalCell{
	display: table-cell;
	padding: 5px 20px 5px 0px;
}

.modalCell input[type="text"]{
	margin-top: 10px;
}

.modalCell select{
	margin-top: 10px;
}

.modal input[type="radio"]{
	height: inherit;
    margin-bottom: 20px;
}

.modal input[type="text"]{
	width: 150px;
}

.modal select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgb(45, 49, 57);
    border-radius: 3px;
    background: white;
    font-size: 0.875em;
    min-width: 120px;
    padding: 10px;
    padding-right: 30px;
    background-image: url('../img/pfeil.png');
    background-repeat: no-repeat;
    background-position: 97% center;
}

.modal option{
    background: white;
}

.modal select::-ms-expand {
    display: none;
}

@media only screen and (max-width: 480px) {
    .modalCell{
        display: inherit;
    }
    .modal input[type="text"]{
	margin-bottom: 20px;
    }
}

.formLabel{
    margin-bottom: 10px;
}

/* Accordion */

button.accordion {
    width: 100%;
    background-color: #f3f3f3;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    cursor: pointer;
    padding: 12px;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-radius: 0px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  button.accordion.active, button.accordion:hover {
    background-color: #ddd;
  }

  /* Style the accordion panel. Note: hidden by default */
  div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  button.accordion:after {
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 20px;
    content: '';
    background-color: transparent;
    background-image: url('../img/icon-sprite-v2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -50px -459px;

    float: right;
    margin-right: 10px;
    margin-top: -2px;
  }

  button.accordion.active:after {
    vertical-align: middle;
    background: none;
    display: inline-block;
    width: 20px;
    height: 10px;
    content: '';
    background-color: transparent;
    background-image: url('../img/icon-sprite-v2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -176px -464px;
    margin-right: 5px;
    margin-top: 5px;
  }


@media only screen and (max-width: 600px) {
    .modal .message {
        width: auto;
        max-width: inherit;
        margin: 20px;

    }
}

/* Formatierungen Radio & Checkboxen */

/* Statistics Site */

.container-weekdetails{
    float: left;
    margin-right: 20px;
}

.totalstat{
    text-align: center;
}

.totalstat-numb{
    font-size: 1.9em;
    font-weight: 600;
}

.gefiltert{
    color: rgb(0, 116, 136);
}

.blockiert{
    color: rgb(73, 175, 192);
}

.totalstat-div{
    float: left;
    margin-right: 20px;
}


.clear{
    clear: both;
}

/* Formatierungen Radio & Checkboxen */

/* Ausblenden Standard-Styles */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 0;
  font-size: 1em;
  width: 100%
}

/* graceful degradation for ie8 */
input[type='checkbox'],
input[type='radio'] {
  width:auto;
  float:left;
  margin-right: .75em;
  background:transparent;
  border:none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
  background: transparent;
  position: relative;
  visibility: hidden;
  margin:0;
  padding:0;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}



/* Formartierung der Checkboxen und Radiobuttons */

input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before,
input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 17px;
    height: 17px;
    position: relative;
    top:4px;
    border: 1px solid black;
    background: white;
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
}

input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
  border-radius: 30px;
}

input[type='checkbox']:hover  + label::before,
input[type='radio']:hover  + label::before {
  background:#ddd;
  box-shadow: inset 0 0 0 3px white;
}

input[type='checkbox']:checked  + label::before,
input[type='radio']:checked  + label::before {
  background:black;
  box-shadow: inset 0 0 0 3px white;
