{% load widget_tweaks %}
{% load base_extras %}
{% load i18n %}

<form class="js-form">
    <!-- <fieldset class="limited"> -->
    <fieldset>
        {% if form_title %}
        <h2>{{ form_title }} (<a href="#" class="js-abort-form{% if not form.errors %} hidden{% endif %}">{% trans "abbrechen" %}</a><a href="#" class="js-edit-form{% if form.errors %} hidden{% endif %}">{% trans "&auml;ndern" %}</a>)
        </h2>
        {% endif %}

        {% for error in form.non_field_errors %}
            <p class="error-message">{{ error|striptags }}</p>
        {% endfor %}

            {% for field in form %}
                <p class="formLabel"> {{ field.label }} </p>
                {{ field|add_error_class:'form-input-error'}}
                {% if field.field.widget.input_type == "password" %}
                <span id="pw{{forloop.counter}}" class="icon i-eye-open showpw" ></span>
                <div class="meter-container">{% trans "Schwach" %}
                    <div class="meter-display">
                        <div class="meter-indicator meter-indicator1"></div>
                        <div class="meter-indicator meter-indicator2"></div>
                        <div class="meter-indicator meter-indicator3"></div>
                        <div class="meter-indicator meter-indicator4"></div>
                        <div class="meter-indicator meter-indicator5"></div>
                    </div>{% trans "Stark" %}
                </div>
                {% endif %}
                {% for error in field.errors %}
                    <p class="error-message">{{ error|striptags }}</p>
                {% endfor %}
            {% endfor %}

            {% csrf_token %}
            <p id="passwordsDontMatch">{% trans "Die Passwörter stimmen nicht überein" %}</p>
            {% if string_length_8_to_64_needed == True %}
                 <p id="string8to64needed">{% trans "Das Passwort muss zwischen 8 und 64 Zeichen lang sein" %}</p>
            {% endif %}
<!-- <button class="multiple-inputs">Speichern</button> -->
            <br>

            <button type="submit" {% if form|has_pw_field %}disabled="disabled"{% endif %} name="submit" href="{{ href }}" class="multiple-inputs js-form-submit">{% trans "Speichern" %}</button> {% if back %}<a href="{{ back }}"> {% trans "Abbrechen" %} </a>{% endif %}
        </fieldset>
</form>
