{% load i18n %}
{% load base_extras %}
<div class="modal js-modal">
    <div class="message clearfix">

        {% get_fact 'wlan' 'upri' 'ssid' as upri_ssid_fact %}
        <div class="error-message generalErrorText hidden" >{% trans "Bei der Verarbeitung ist ein Fehler aufgetreten." %}<br>
            {% trans "Bitte öffnen sie das 'Fehlerprotokoll' im Hauptfenster für genauere Informationen." %}</div>

        <div class="warning-message js-session-lost-warning hidden">
            {% blocktrans %}
                Sie wurden aus der upribox ausgeloggt! Bitte klicken Sie auf "Schließen" und loggen Sie sich erneut ein.
            {% endblocktrans %}
        </div>
        <div class="error-message js-connection-warning hidden">
            {% blocktrans with upri_ssid|default:upri_ssid_fact as upri_ssid %}
                Die Upribox konnte nicht erreicht werden. Bitte stellen Sie sicher, dass Sie sich mit dem Wlan "{{ upri_ssid}}" verbunden sind.
            {% endblocktrans %}
        </div>
        <ul>
            {% for msg in messagestore  %}
                <li class="success-message">{{ msg }}</li>
            {% endfor %}
        </ul>
        <button {% if button_enabled != 'true' %}disabled{% endif %} {% if refresh_url %}data-refresh-url="{{ refresh_url }}"{% endif %}class="js-modal-close">{% trans "Schließen" %}</button>
    </div>
</div>
