vpn-psk
/environments/development/inventory
/environments/production/inventory
/environments/init/inventory
/roles/common/files/id_rsa_git

*.retry

.DS_Store
*.pyc
/upribox_interface/db.sqlite3
/upribox_interface/.idea

/upribox_interface/ansible/facts.d/*
!/upribox_interface/ansible/facts.d/.gitkeep

.idea
docs/build/html
docs/build/latex
docs/build/doctrees

environments/init/inventory
