auto lo
iface lo inet loopback

auto wlan0
allow-hotplug wlan0
iface wlan0 inet static
  address 192.168.55.254
  netmask 255.255.255.0
  #pre-up ifconfig wlan0 hw ether {{ ansible_wlan0.macaddress | regex_replace('^..', magic_mac_prefix) | regex_replace('..$', magic_mac_postfix) }}
  hwaddress ether {{ ansible_wlan0.macaddress | regex_replace('^..', magic_mac_prefix) | regex_replace('..$', magic_mac_postfix) }}
  #pre-up iptables-restore < /etc/iptables.upribox.ipv4
