{{default_settings.log.general.path}}/{{default_settings.log.apate.subdir}}/{{default_settings.log.apate.logfiles.logname}} {
    su root root
    compress
    copytruncate
    weekly
    rotate 3
    missingok
    notifempty
    maxsize 10M
}
