{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Statistik - upribox" %}{% endblock %}

{% block header %}
<h1>{% trans "Statistik" %}</h1>
{% endblock %}

{% block additional-data-urls %}data-poll-statistics-main-url="{% url 'upri_get_statistics' %}" data-poll-statistics-update-url="{% url 'upri_update_statistics_without_week' %}"{% endblock %}

{% block breadcrumb  %}
<p><a href="{% url 'upri_index' %}">{% trans "Start" %}</a> > {% trans "Statistik" %}</p>
{% endblock %}


{% block content %}



<div class="loading" style="display: block;"></div>
<div class="statistics-content" style="display: none;">
    <h2> {% trans "Gesamtstatistik" %} </h2>

    <div class="totalstat-div icon i-blockiert">
        <p class="totalstat"> <span id="total-blocked" class="totalstat-numb blockiert"> </span> <br> {% trans "Domains blockiert" %}</p>
    </div>
    <div class="totalstat-div icon i-gefiltert">
        <p class="totalstat"> <span id="total-filtered" class="totalstat-numb gefiltert"> </span> <br> {% trans "Inhalte gefiltert" %}</p>
    </div>


    <h2 class="statistic-plot-heading clear">{% trans "Wochenstatistik" %} </h2>
    <!--This span is not visible. Its only purpose is to hold the translated string for "KW", which is later needed for the plot-->
    <span id="calendar-week-short-text">{% trans "KW" %}</span>


    <!--<p class="overall-count">{% trans "Gesamtanzahl geblockter Anfragen" %}: <span id="total-blocked">2290</span><br>
        {% trans "Gesamtanzahl gefilterter Inhalte" %}: <span id="total-filtered">2290</span>
    </p>-->
    <div class="legend">
        <div class="legend-inner">
            <span class="legend-blocked-domains"></span>{%trans "geblockt" %}<br>
            <span class="legend-filtered-content"></span>{%trans "gefiltert" %}
        </div>
    </div>
    <div class="y-axis-desc">{% trans "Anzahl" %}</div>
    <div id="stats"></div>
    <div class="x-axis-desc"><span class="weeks-full-text">{% trans "Kalenderwochen" %}</span><span class="weeks-short-text">{% trans "KW" %}</span></div>
    <div class="lists">
        <p class="lists-headline">{%trans "Details für Kalenderwoche" %} <span id="statistic-details-calendar-week"></span></p>

        <div class="statistics js-blocked-sites">
            <p class="">{%trans "Top geblockte Domains" %}</p>
            <ol id="blocked-pages">

            </ol>
        </div>
        <div class="statistics js-filtered-sites">
            <p>{%trans "Top gefilterte Inhalte" %}</p>
            <ol id="filtered-pages">

            </ol>
        </div>
    </div>
</div>

{% endblock %}

{% block info_wrapper %}
{% endblock %}