[Unit]
Description=registrar fingerprinting Daemon
Requires=networking.service network-online.target redis-server.service
BindsTo=sys-subsystem-net-devices-eth0.device network-online.target
Wants=network-online.target
After=sys-subsystem-net-devices-eth0.device networking.service redis-server.service network-online.target

[Service]
Type=forking
ExecStart=/etc/init.d/registrar start
ExecStop=/etc/init.d/registrar stop
PIDFile={{ default_settings.registrar.pid.dir }}/{{ default_settings.registrar.pid.file }}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
