{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load base_extras %}

{% block title %}{% trans "Silent Modus - upribox" %}{% endblock %}

{% block header %}
    <h1>{% trans "Silent Modus" %}</h1>
    <p>{% trans "Ohne Werbung surfen." %}</p>
{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-2 col-2-main js-col-2-main">
            <form>
                <fieldset>
                    <legend>{% trans "Ein-/Ausschalten" %}</legend>
                    <div class="switch icon i-on">
                        <p>{% trans "Silent Modus läuft" %}</p>
                    </div>
                </fieldset>
            </form>

            {% url 'upri_silent' as href %}
            {% trans "WLAN Zugangsdaten" as form_title%}
            {% include "form.html" %}

        </div>
        <div class="col-2 col-2-info js-col-2-info">
            <aside>
                <h2 class="icon i-information js-info-trigger">
                <a href="#" title="{% trans "Information einklappen" %}" class="i-arrow">{% trans "Was ist der Silent Modus?" %}</a>
                </h2>
                <p>{% blocktrans with email="feedback@upribox.org" %}Der SILENT-Modus erlaubt ihnen, Webseiten ohne Werbung anzusehen. Diese wird einfach ausgeblendet. Weiters werden Tracking-Services blockiert bzw. nicht ausgef&uuml;hrt um ihre Privatsph&auml;re. In seltenen F&auml;llen kann es daher zu Darstellungsfehlern oder der Blockierung von Webseiten kommen. Zur Verbesserung der upribox lassen Sie uns bitte solche Fehler wissen: <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}</p>
                {% url 'upri_faq' as faq_url%}
                <p>{% blocktrans %}H&auml;ufig gestellte Fragen zur upribox finden Sie unter <a href="{{ faq_url }}" title="FAQ">Hilfe</a>{% endblocktrans %}</p>
                <a href="#" title="{% trans "Information ausblenden" %}" class="info-out i-arrow js-info-trigger">{% trans "Information ausblenden" %}</a>
            </aside>
        </div>
     </div>
{% endblock %}