{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load base_extras %}

{% block breadcrumb  %}
    <p><a href="{% url 'upri_index' %}">{% trans "Start" %}</a> > <a href="{% url 'upri_config' %}">{% trans "Konfiguration" %}</a> > {% trans "WLAN" %}</p>
{% endblock %}

{% block title %}{% trans "Konfiguration" %}{% endblock %}

{% block header %}
    <h1>{% trans "WLAN" %}</h1>
{% endblock %}

{% block content %}
            {% url 'upri_silent' as href %}

            {% url 'upri_config' as back %}
            {% comment %}
                {% trans "WLAN Zugangsdaten" as form_title%}
            {% endcomment %}
            {% include "form.html" with string_length_8_to_64_needed=True%}
            <div {% if refresh_url %}data-refresh-url="{{refresh_url}}"{% endif %}></div>

{% endblock %}

{% block info %}
   <p class="icon i-info infohead"> {% trans "Tipps für sichere Passwörter:" %} </p>
   <p class="infotext"> {% trans "Mindestens 8 Zeichen." %} <br>
   {% trans "Mindestens 1 Großbuchstabe." %} <br>
   {% trans "Mindestens 1 Kleinbuchstabe." %}<br>
   {% trans "Mindestens 1 Ziffer." %}
   </p>
{% endblock %}
