{% extends "base.html" %}

{% load i18n %}
{% load base_extras %}

{% block title %}{% trans "Übersicht - " %}{{ device|get_device_name }}{% endblock %}

{% block header %}
    <h1><a href="{% if device.slug %}{% url 'upri_device_name' slug=device.slug %}{% endif %}" class="devnamechange">{{ device|get_device_name }}</a></h1>
{% endblock %}

{% block additional-data-urls %}data-poll-traffic-main-url="{% url 'upri_traffic' slug=device.slug %}" data-poll-traffic-update-url="{% url 'upri_traffic_domains' slug=device.slug %}"{% endblock %}

{% block breadcrumb  %}
<p><a href="{% url 'upri_index' %}">{% trans "Start" %}</a> > <a href="{% url 'upri_devices' %}">{% trans "Geräteübersicht" %}</a> > {% if device.slug %}{{ device|get_device_name }}{% endif %}</p>
{% endblock %}


{% block content %}

<div class="loading" style="display: block;"></div>
<div class="loading-text">{% trans "Statistik wird geladen" %}</div>
<div class="no-data-available" style="display:none;">
<h2> {%  trans "Keine Daten vorhanden." %}</h2>
</div>
<div class="statistics-content" style="display: none;">
{#    <h2> {% trans "Gesamtstatistik" %} </h2>#}

    <div class="totalstat-div">
        <p class="totalstat"> <span id="total-traffic" class="totalstat-numb blockiert"> </span> <br> {% trans "Datenvolumen gesamt" %}</p>
    </div>
    <div class="totalstat-div">
        <p class="totalstat"> <span id="current-week" class="totalstat-numb gefiltert"> </span> <br> {% trans "Kalenderwoche" %}</p>
    </div>


{#   <h2 class="statistic-plot-heading clear">{% trans "Wochenstatistik" %} </h2> #}
    <!--This span is not visible. Its only purpose is to hold the translated string for "KW", which is later needed for the plot-->
    <span id="calendar-week-short-text">{% trans "Tag" %}</span>

    <div id="device-stats"></div>
    <div class="lists" style="display:none;">
        <p class="lists-headline">{%trans "Details für Kalenderwoche" %} <span id="statistic-details-calendar-week"></span></p>
        <p class="lists-block-percentage"><span id="js-block-percentage"></span>{%trans "% aller Anfragen wurden automatisch geblockt." %} </p>
        <div class="statistics js-requested-domains">
            <p class="">{%trans "Domains (Top 10)" %}</p>
            <ol id="requested-domains">
            </ol>
        </div>
        <div class="statistics js-blocked-domains">
            <p class="">{%trans "Geblockte Domains (Top 10)" %}</p>
            <ol id="blocked-domains">
            </ol>
        </div>
    </div>

</div>

{% endblock %}

{% block info_wrapper %}
{% endblock %}
