{{default_settings.log.general.path}}/{{default_settings.log.privoxy.subdir}}/{{ default_settings.log.privoxy.logfiles.logname }}
{
  su root tmp-logger
  rotate 0
  daily
  missingok
  notifempty
  maxsize 10M
  sharedscripts
  postrotate
        /etc/init.d/privoxy restart > /dev/null
  endscript
}