{{ default_settings.log.general.path }}/{{ default_settings.log.uwsgi.logfiles.logname }}
{
  su root tmp-logger
  rotate 0
  daily
  missingok
  notifempty
  maxsize 10M
  sharedscripts
  postrotate
        /etc/init.d/uwsgi restart > /dev/null
  endscript
}