{{ default_settings.log.general.path }}/{{ default_settings.log.supervisor.logfiles.logname }}
{{ default_settings.log.general.path }}/{{ default_settings.log.rqworker.logfiles.stderr }}
{{ default_settings.log.general.path }}/{{ default_settings.log.rqworker.logfiles.stdout }}
{
  su root tmp-logger
  rotate 0
  daily
  missingok
  notifempty
  maxsize 10M
  sharedscripts
  postrotate
        /etc/init.d/supervisor restart > /dev/null
  endscript
}
