# mysite_uwsgi.ini file
[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = /usr/share/nginx/www-upri-interface
# settings module
env = DJANGO_SETTINGS_MODULE={{ django_settings_file }}
# Django's wsgi file
module          = wsgi
# the virtualenv (full path)
home            = /var/webapp-virtualenv
# process-related settings
# master
master          = true
# the socket (use the full path to be safe
socket          = /var/run/uwsgi/upri_interface.sock
# ... with appropriate permissions - may be needed
chmod-socket    = 664
chown-socket 	= www-data:www-data
# clear environment on exit
vacuum          = true

uid = www-data
gid = www-data
add-gid = tmp-logger

# stats = /tmp/uwsgi.stat

cheaper = 1
# backlog is only available on Linux and only on TCP sockets (not UNIX domain sockets)
cheaper-algo = spare
cheaper-initial = 1
# maximum number of worker processes
workers = 4
cheaper-step = 1
