{% load base_extras %}
{% load i18n %}

<div {% if device.slug %}id="{{ device.slug }}" data-slug="{{device.slug}}" {% endif %}data-changing="{{device.changing}}" class="divTableRow single-device-row">
    <div class="divTableCell">
        <a href="{% if device.slug %}{% url 'upri_device_name' slug=device.slug %}{% endif %}" class="device-link icon i-status devname">{% if device.slug %}{{ device|get_device_name }}{% endif %}</a>
    </div>
    <div class="divTableCell"> <input class="radio radio_device radio-NO" name="{{device.slug}}" id="{{device.slug}}0" type="radio" data-href="{% url 'upri_devices_mode' %}" value="NO"{% if device.mode == "NO" %} checked{%endif%}/><label for="{{device.slug}}0"></label> </div>
    <div class="divTableCell"> <input class="radio radio_device radio-SL" name="{{device.slug}}" id="{{device.slug}}1" type="radio" data-href="{% url 'upri_devices_mode' %}" value="SL"{% if device.mode == "SL" or device.mode is none %} checked{%endif%}/><label for="{{device.slug}}1"></label> </div>
    <div class="divTableCell"> <input class="radio radio_device radio-NJ" name="{{device.slug}}" id="{{device.slug}}2" type="radio" data-href="{% url 'upri_devices_mode' %}" value="NJ"{% if device.mode == "NJ" %} checked{%endif%}/><label for="{{device.slug}}2"></label> </div>
</div>
