{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Geräteübersicht - upribox" %}{% endblock %}

{% block header %}
    <h1>{% trans "Geräteübersicht" %}</h1>
{% endblock %}

{% block content %}

    <!-- Main, Content Bereich -->

    <div id="main-content">

        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableHead ">&nbsp;</div>
                    <div class="divTableHead ">
                        <div class="icon i-keinmodus"> </div>
                    </div>
                    <div class="divTableHead ">
                        <div class="icon i-silent"></div>
                    </div>
                    <div class="divTableHead ">
                        <div class="icon i-ninja"></div>
                    </div>
                </div>
                {% for device in devices %}
                    {% include 'device_entry.html' %}
                {% empty %}
                <div class="divTableRow">
                    <div class="divTableCell">
                        <p class="icon i-connected">{% trans "Keine Geräte verfügbar" %}</p>
                    </div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                    <div class="divTableCell"></div>
                </div>
                {% endfor %}
                
            </div>
        </div>

    </div>


{% endblock %}

{% block info %}

    <div class="divInfoTable">
        <div class="divInfoTableBody">
            <div class="divInfoTableRow">
                <div class="divInfoTableCell">
                    <p class="icon i-Bkeinmodus infohead"> Kein Modus: </p>
                    <p class="infotext"> Wenn kein Modus aktiviert ist, werden weder Werbung ausgeblendet, noch ihre Aktivitäten geschützt. <a class="infotext" href="#">mehr</a> </p>
                </div>
                <div class="divInfoTableCell">
                    <p class="icon i-Bsilent infohead"> Silent Modus: </p>
                    <p class="infotext"> Wenn kein Modus aktiviert ist, werden weder Werbung ausgeblendet, noch ihre Aktivitäten geschützt. <a class="infotext" href="#">mehr</a> </p>
                </div>
                <div class="divInfoTableCell">
                    <p class="icon i-Bninja infohead"> Ninja Modus: </p>
                    <p class="infotext"> Wenn kein Modus aktiviert ist, werden weder Werbung ausgeblendet, noch ihre Aktivitäten geschützt. <a class="infotext" href="#">mehr</a>  </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
