[Unit]
Description=Apate ARP Spoofing Daemon
Requires=networking.service network-online.target redis-server.service
Wants=network-online.target
After=networking.service redis-server.service network-online.target

[Service]
Type=forking
ExecStart=/etc/init.d/apate start
ExecStop=/etc/init.d/apate stop
PIDFile={{ default_settings.apate.pid.dir }}/{{ default_settings.apate.pid.file }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
