Django==1.8.3
click==4.1
django-autoslug==1.8.0
django-rq==0.8.0
django-widget-tweaks==1.4.1
redis==2.10.5
requests==2.13.0
rq==0.5.4
wsgiref==0.1.2
netaddr==0.7.19
netifaces==0.10.5
dnspython==1.15.0
sqlparse==0.2.3
ua-parser==0.7.3
user-agents==1.1.0
PyYAML==3.12
