Django>=1.11.1,<=1.11.99
PyYAML==5.4
argparse==1.2.1
click==6.7
django-autoslug==1.9.3
django-rq==0.9.5
django-widget-tweaks==1.4.1
dnspython==1.15.0
netaddr==0.7.19
netifaces==0.10.5
pytz==2017.2
redis==2.10.5
requests==2.20.0
rq==0.8.1
sqlparse==0.2.3
ua-parser==0.7.3
user-agents==1.1.0
wsgiref==0.1.2
enum34==1.1.6
colour==0.1.5
urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability