[Unit]
Description=Initialise Wifi Interfaces
Requires=networking.service
BindsTo=systemd-networkd.service
After=networking.service network-online.target systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/etc/ansible/network/wlan_stick
KillMode=none

[Install]
WantedBy=multi-user.target
