[Unit]
Description=Manage Wifi Interface
After=local-fs.target network-pre.target networking.service systemd-sysctl.service
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=simple
ExecStart=/etc/ansible/network/wlan_stick
ExecStop=/etc/ansible/network/wlan_stick
RemainAfterExit=yes
KillMode=none

[Install]
WantedBy=multi-user.target
