{{ default_settings.log.general.path }}/{{ default_settings.log.dnsmasq_ninja.logfiles.logname }} {
  su root tmp-logger
  rotate 0
  daily
  missingok
  notifempty
  maxsize 10M
  sharedscripts
  postrotate
        /etc/init.d/dnsmasq-ninja restart > /dev/null
  endscript
}